<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function addNewBlog() {
            let title = $('#title').val();
            let content = $('#content').val();
            let category = $('#category').val();
            let newBlog = {
                title: title,
                content: content,
                category: {
                    id: category
                }
            };

            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                data: JSON.stringify(newBlog),
                url: "/blog/create",
                success: successHandler
            })
            event.preventDefault();
        }

        function getBlog(blog) {
            return `<tr><td >${blog.title}</td>
                    <td >${blog.content}</td>
                    <td>${blog.category?.name}</td>` +
                `<td><button type="submit"  value="${blog.id}" onclick="deleteBlog(this)">Delete</button></td></tr>`;
        }

        function successHandler(data) {
            $.ajax({
                type: "GET",
                url: "/blog/list",
                success: function (data) {
                    let con = '<tr>\n' +
                        '<td>Title</td>\n' +
                        '<td>Content</td>\n' +
                        '<td>Category</td>>\n' +
                        '<td>Edit</td>' +
                        '<td>Delete</td>'
                    '</tr>';
                    for (let i = 0; i < data.length; i++) {
                        con += getBlog(data[i]);
                    }
                    document.getElementById("blogList").innerHTML = con;
                }
            })
        }

        function deleteBlog(a) {
            let id = a.getAttribute("value");
            $.ajax({
                type: "DELETE",
                url: "/blog/delete/" + id,
                success: function () {
                    a.parentElement.parentElement.remove();
                }
            })
            event.preventDefault();
        }

        function editForm(a) {
            let id = a.getAttribute("value");
            $.ajax({
                type: "GET",
                url: "/blog/one/" + id,
                success: function (blog) {
                    $('#editTitle').val(blog.title);
                    $('#editContent').val(blog.content);
                    $('#editCategory').val(blog.category);
                }
            })
            event.preventDefault();
        }
        function updateBlog() {
            let id = $('#id').val();
            let title = $('#title').val();
            let content = $('#content').val();
            let category = $('#category').val();
            let newBlog = {
                id: id,
                title: title,
                content: content,
                category: {
                    id: category
                }
            };
            $.ajax({
                type: "PUT",
                data: JSON.stringify(newBlog),
                url: "/blog/update/" + id,
                success: successHandler
            })
        }


    </script>
</head>
<body>
<h1>BLOGS</h1>
<form id="add-blog">
    <table>
        <tr>
            <td>Title :</td>
            <td><input type="text" id="title" placeholder="title"></td>
        </tr>
        <tr>
            <td>Content :</td>
            <td><input type="text" id="content" placeholder="content"></td>
        </tr>
        <tr>
            <td>Category :</td>
            <td>
                <select>
                    <option id="category" th:each="cate : ${categoryList}" th:value="${cate.id}"
                            th:text="${cate.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="AddNew" onclick="addNewBlog()"></td>
        </tr>
    </table>
</form>
<table border="1" id="blogList">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="blog : ${blogList}">
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.content}"></td>
        <td th:if="${blog.category}" th:text="${blog.category.getName()}"></td>
        <td th:unless="${blog.category}"></td>
        <td>
            <button type="submit" th:value="${blog.id}" onclick="deleteBlog(this)">Delete</button>
        </td>
        <td>
            <button type="submit" th:value="${blog.id}" onclick="editForm(this)">Edit</button>
        </td>
    </tr>
</table>
<form id="editForm">
    <table>
        <tr>
            <td>Title :</td>
            <td><input type="text" id="editTitle"></td>
        </tr>
        <tr>
            <td>Content :</td>
            <td><input type="text" id="editContent"></td>
        </tr>
        <tr>
            <td>Category :</td>
            <td>
                <select>
                    <option id="editCategory" th:each="cate : ${categoryList}" th:value="${cate.id}"
                            th:text="${cate.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update" onclick="updateBlog()"></td>
        </tr>
    </table>
</form>

</body>
</html>